.icon-48-breedables {
      background-image: url(../images/l_breedables.png);
      padding-left:60px!important;
}

.icon-48-breedable {
      background-image: url(../images/l_breedables.png);
      padding-left:60px!important;
}

